@font-face {
  font-family: 'Nunito Sans Light';
  src: url(./assets/fonts/NunitoSans/NunitoSans-Light.ttf);
}

@font-face {
  font-family: 'Nunito Sans Extra Light';
  src: url(./assets/fonts/NunitoSans/NunitoSans-ExtraLight.ttf);
}

@font-face {
  font-family: 'Nunito Sans Regular';
  src: url(./assets/fonts/NunitoSans/NunitoSans-Regular.ttf);
}

@font-face {
  font-family: 'Nunito Sans Semi Bold';
  src: url(./assets/fonts/NunitoSans/NunitoSans-SemiBold.ttf);
}

@font-face {
  font-family: 'Nunito Sans Bold';
  src: url(./assets/fonts/NunitoSans/NunitoSans-Bold.ttf);
}

@font-face {
  font-family: 'Nunito Sans Extra Bold';
  src: url(./assets/fonts/NunitoSans/NunitoSans-ExtraBold.ttf);
}

body {
  margin: 0;
  font-family: 'Nunito Sans Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36393f;
  color: #f5f6f7;
  font-size: 14px;
}

h1 {
  font-family: 'Nunito Sans Regular';
  margin: 8px 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
