@font-face {
  font-family: Quicksand;
  src: url(./fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: Work Sans;
  src: url(./fonts/WorkSans-VariableFont_wght.ttf);
}

body {
  margin: 0;
  font-family: 'Work Sans', 'Quicksand', Verdana;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #36393f;
  color: #f5f6f7;
  font-size: 14px;
}
